.u-margin-bottom-normal{
    margin-bottom: 4rem;
}
.u-margin-bottom-small{
    margin-bottom: 2rem;
}
.u-text-center{
    text-align: center;
}
.u-big-tittle{
    font-size: 4rem;
    letter-spacing: 3.5rem;
}