//COLORS
$grey-less-opacity:rgba(207, 207, 223, 0.863);
$grey:rgb(207, 207, 223);
$color-dark-grey:rgb(42, 41, 41);
$grey-less-opacity-an:rgba(207, 207, 223, 0.37);
$color-dark-blue:rgb(118, 123, 134);
$color-yellow-less-opacity:rgba(196, 233, 31, 0.698);
$color-green:rgba(196, 233, 31, 0.952);
$color-black-less-opacity:rgba(0, 0, 0, 0.698);
$color-blue-light: #2998ff;
$color-blue-dark: #030118;
$color-dark-green: #092f20;
$color-black:#000000;
$color-white:#ffffff;
//GRID
$cols: 5;
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
