@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/variables';
@import 'abstracts/utilities';

@import 'layout/feature-box';
@import 'layout/grid';

@import 'pages/home';

@import 'components/heading';

@import 'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';

* {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e7e4e4;
  font-size: 18px;
}

/*--HEADER--*/

.header {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right top, #ff730060, #00aeff65),
    url(../img/edificios2.jpg);

  background-size: cover;
  /*clip-path: polygon(100% 0, 100% 100%, 50% 87%, 0 100%, 0 0);*/
}

.enlaces_nav {
  display: flex;
  padding: 2rem;
  justify-items: flex-end;
  position: fixed;
  z-index: 1500;
  margin-left: 50%;
}

.enlaces_nav_link {
  text-align: center;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: all 0.5s;
}

.enlaces_nav_link:hover {
  transform: translateY(-7px);
  transition: all 0.5s;
}

.enlaces_nav i {
  cursor: pointer;
  padding-right: 2%;
}
i.active img {
  border: 3px solid red;
}

.header_texto {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-3.5rem);
}

.header_titulo {
  margin-top: 9rem;
  margin-bottom: 10rem;
  font-size: 110px;
  color: white;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.header_button {
  font-size: 18px;
  text-decoration: none;
  color: white;
  border-radius: 20px;
  padding: 0.7rem 1.5rem;
  border: 1px solid white;
  transition: all 0.5s;
  text-shadow: 0.2em 0.1em 0.2em black;
}

.header_button:hover {
  transform: translateY(-10px);
  transition: all 0.5s;
}

/*--NOTICIAS DESTACADAS--*/

.noticias_destacadas {
  background-color: black;
  width: 100%;
  height: 100vh;
}

.titulo_noticias_destacadas {
  width: 35%;
  margin: 0 32.5%;
  padding-top: 5%;
  color: white;
  text-align: center;
  font-size: 35px;
  text-shadow: 0.2em 0.1em 0.2em gray;
  transition: all 1s;
}

.titulo_noticias_destacadas:hover {
  transition: all 1s;
  transform: scale(1.1);
}

.contenedor_noticias_destacadas {
  width: 80%;
  margin: 0 10%;
  margin-top: 8rem;
  height: 50%;
}

.contenedor_noticias-avanzado {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.623);
  z-index: 9999;
  position: absolute;
  display: none;
}

.contenedor_noticias-avanzado:target {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor_noticia-avanzado {
  background-color: white;
  width: 25%;
  height: 25%;
  transform: scale(3);
  display: flex;
  box-shadow: 0 0 10px silver;
}

.contenedor_img_noticia-avanzado {
  height: 100%;
}

.img_noticia-avanzado {
  height: 100%;
}

.inf_noticia-avanzado {
  width: 100%;
}

.titulo_inf_noticia-avanzado {
  width: 100%;
  font-size: 6px;
  text-align: center;
  padding-top: 0.5rem;
  text-shadow: 0.2em 0.1em 0.2em gray;
  transition: all 0.5s;
}

.titulo_inf_noticia-avanzado:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.texto_inf_noticia-avanzado {
  padding-top: 1rem;
  margin: 0 5%;
  width: 90%;
  height: 65%;
  font-size: 6px;
}

.boton_noticias-avanzado {
  font-size: 6px;
  float: right;
  color: orangered;
  margin-right: 2rem;
  transition: all 0.5s;
}

.boton_noticias-avanzado:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.contenedor_noticias_superior,
.contenedor_noticias_inferior {
  width: 100%;
  height: 55%;
  display: flex;
  justify-content: space-between;
}

.contenedor_noticia {
  width: 24%;
  height: 90%;
  transition: all 1s;
  position: relative;
  cursor: pointer;
}

.img_noticia {
  width: 100%;
  box-shadow: 0 0 20px silver;
}

.contenedor_noticia:hover {
  transition: all 1s;
  transform: scale(1.1);
}

.contenedor_noticia:hover .info_noticias {
  display: block;
}

.info_noticias {
  position: absolute;
  display: none;
  background-color: rgba(0, 0, 0, 0.521);
  margin-top: 25%;
  width: 100%;
  height: 51%;
}

.texto_noticias {
  color: white;
  text-align: center;
  margin: 1rem 10%;
}

/*--FIN NOTICIAS DESTACADAS--*/

/*--SLIDER--*/
/*
.noticias_destacadas {
  //overflow: hidden;
  margin-top: 5rem;
  width: 800px;
  overflow: hidden;
  margin: 30px auto;
}

.noticias_destacadas ul {
  list-style: none;
  width: 3200px;
  display: flex;
  //width: 400%;
  animation: sliderNoticias 20s infinite;
  margin: 0;
  padding: 0;
}

.noticias_destacadas li {
  //text-decoration: none;
  //width: 100%;
}

.img_slider {
  width: 800px;
}

@keyframes sliderNoticias {
  0% {
    opacity: 0;
    margin-left: 0;
  }
  20% {
    opacity: 1;
    margin-left: 0;
  }

  25% {
    margin-left: -800px;
  }
  45% {
    margin-left: -800px;
  }

  50% {
    margin-left: -1600px;
  }
  70% {
    margin-left: -1600px;
  }

  75% {
    margin-left: -2400px;
  }
  100% {
    margin-left: -2400px;
  }
}
*/
/*-FIN SLIDER--*/

/*--PRIMER SECTION--*/

.section-primero {
  margin-top: 0;
  padding-top: 1rem;
  padding-bottom: 3rem;
  background-color: black;
  width: 100%;
}

.header-section-primero {
  width: 50%;
  text-align: center;
  font-size: 35px;
  padding: 2rem;
  margin: 0 25%;
  margin-bottom: 3.5rem;
  color: white;
  text-shadow: 0.2em 0.1em 0.2em gray;
  transition: all 1s;
}

.header-section-primero:hover {
  transition: all 1s;
  transform: scale(1.1);
}

.header3-section-primero {
  text-align: center;
  font-size: 30px;
  padding-bottom: 1rem;
  color: white;
  text-shadow: 0.2em 0.1em 0.2em gray;
  transition: all 1s;
}

.header3-section-primero:hover {
  transition: all 1s;
  transform: scale(1.1);
}

.section1_texto {
  display: flex;
  color: white;
  text-shadow: 0.2em 0.1em 0.2em gray;
  font-size: 20px;
  letter-spacing: 2px;
}

.columnas {
  width: 30%;
  padding-top: 3rem;
  margin-left: 10%;
}

.columnas-texto {
  margin-bottom: 50px;
  margin-left: 3rem;
  margin-right: 3rem;
  text-align: center;
}

.columnas-imagenes {
  margin-left: 11%;
  margin-top: 3rem;
}

.gif_noticias {
  width: 750px;
  position: relative;
  transform: translateX(-200px);
  transform: translateY(-100px);
}

/*--FIN PRIMER SECTION--*/

/*--SEGUNDO SECTION--*/

.header-section-segundo {
  text-align: center;
  font-size: 2.5rem;
  font-family: cursive;
  margin-top: 5rem;
  margin-bottom: 4rem;
}

/*--FIN SEGUNDO SECTION--*/

/*--FOOTER--*/

footer {
  bottom: 0px;
  width: 100%;
  background-blend-mode: screen;
  background-image: linear-gradient(
      to bottom,
      $color-dark-grey,
      $color-black
    ),
    url(../img/footer/background.jpg);
  background-size: cover;
  background-blend-mode: darken;
  font-size: 20px;
  color: white;
}

.main-content {
  display: flex;
}

.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}

.footer {
  &__title {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    &:hover {
      -webkit-text-stroke: 0.6px $color-black;
      color: $color-green;
      transform: translateY(-2px);
      transition: all 0.3s;
    }
  }
  &--text {
    &:hover {
      color: $color-green;
      transform: scale(0.55);
    }
  }
}

.box .content {
  margin: 20px 0 0 0;
}

.center .content {
  font-size: 20px;
}
.center .content .place {
  margin-bottom: 20px;
}

.center .content .phone {
  margin-bottom: 20px;
}

.left .content .social-medias {
  display: flex;
  margin-top: 10px;
  text-align: center;
}

.left .content .social-medias .iconos {
  font-size: 25px;
  text-align: center;
  margin: 20px;
  background-color: #efefef;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  color: black;
}

.left .social-medias .fa-facebook-square:hover {
  background: #41579a;
  color: #fff;
  transition: 0.7s ease all;
}

.left .social-medias .fa-twitter-square:hover {
  background: rgb(0, 153, 255);
  color: #fff;
  transition: 0.7s ease all;
}

.left .social-medias .fa-instagram:hover {
  background: linear-gradient(
    to top right,
    #fcde30,
    #e9712a,
    #d2313b,
    #ae4198,
    #7540a1,
    #5443a8
  );
  color: #fff;
  transition: 0.7s ease all;
}

.right .content .email {
  font-size: 20px;
}

.right .content .msg {
  font-size: 20px;
}

.right .content .email .email-box {
  font-size: 20px;
  width: 70%;
  height: 30px;
}

.right .content .email .email-box:hover {
  background-color: rgb(168, 168, 168);
  transition: 1s;
}

.right .content .msg .text-box {
  font-size: 20px;
  width: 70%;
  height: 50px;
}

.right .content .msg .text-box:hover {
  background-color: rgb(168, 168, 168);
  transition: 1s;
}

.right .content .btn .boton {
  font-size: 20px;
  width: 70.7%;
  height: 40px;
  background-color: rgb(255, 0, 0);
}

.right .content .btn .boton:hover {
  background-color: rgb(197, 0, 0);
  transition: 1s;
}

/*FIN FOOTER*/

/*FLECHA IR ARRIBA*/

.ir-arriba {
  display: none;
  padding: 20px;
  background-color: #41579a;
  width: 40px;
  height: 40px;
  font-size: 40px;
  cursor: pointer; //Para simular que es un enlace
  position: fixed;
  bottom: 20px;
  right: 18px;
  z-index: 2000;
  border-radius: 100%;
}

/*FIN FLECHA IR ARRIBA*/

/*--MENU LATERAL DESPLEGABLE*/
.menu_lateral {
  float: left;
  width: 15%;
  height: 100vh;
  background-color: #333333;
  overflow: hidden;
  margin-left: -15%;
  transition: 0.8s all;
}

.menu_lateral_click {
  margin-left: 0;
}

.menu_lateral li {
  padding: 15%;
  border-bottom: 1px solid gray;
  list-style: none;
  text-align: center;
}

.menu_lateral li a {
  text-decoration: none;
  color: white;
  width: 100%;
  font-size: 1.8rem;
  display: block;
}

.boton_toggle {
  float: left;
  padding: 15px 50px;
  font-size: 40px;
  text-decoration: none;
  color: black;
  font-family: Ionicons;
  cursor: pointer;
}

.boton_toggle::before {
  content: '\f20d';
} /* icono para abrir el menú */

.boton_toggle_click::before {
  content: '\f12a';
} /* icono para cerrar el menú */

/*--FIN MENU LATERAL DESPLEGABLE--*/
