@charset "UTF-8";
.u-margin-bottom-normal {
  margin-bottom: 4rem;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}

.u-text-center {
  text-align: center;
}

.u-big-tittle {
  font-size: 4rem;
  letter-spacing: 3.5rem;
}

.feature-box {
  background-color: rgba(207, 207, 223, 0.863);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  height: 24rem;
  outline-offset: 1rem;
}

.feature-box:hover {
  -webkit-transform: translateY(-1.5rem) scale(1.03);
          transform: translateY(-1.5rem) scale(1.03);
  background-color: rgba(196, 233, 31, 0.698);
  outline: 0.5rem solid rgba(196, 233, 31, 0.698);
  text-transform: uppercase;
}

.feature-box:not(:hover) {
  -webkit-transform: scale(0.55);
          transform: scale(0.55);
  outline: 0.2rem solid rgba(196, 233, 31, 0.698);
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row .col-1-of-1 {
  width: calc(1 * ((100% - (1 - 1) * 6rem) / 1) + (1 - 1) * 6rem);
}

.row .col-1-of-2 {
  width: calc(1 * ((100% - (2 - 1) * 6rem) / 2) + (1 - 1) * 6rem);
}

.row .col-1-of-3 {
  width: calc(1 * ((100% - (3 - 1) * 6rem) / 3) + (1 - 1) * 6rem);
}

.row .col-1-of-4 {
  width: calc(1 * ((100% - (4 - 1) * 6rem) / 4) + (1 - 1) * 6rem);
}

.row .col-1-of-5 {
  width: calc(1 * ((100% - (5 - 1) * 6rem) / 5) + (1 - 1) * 6rem);
}

.row .col-2-of-3 {
  width: calc(2 * ((100% - (3 - 1) * 6rem) / 3) + (2 - 1) * 6rem);
}

.row .col-2-of-4 {
  width: calc(2 * ((100% - (4 - 1) * 6rem) / 4) + (2 - 1) * 6rem);
}

.row .col-2-of-5 {
  width: calc(2 * ((100% - (5 - 1) * 6rem) / 5) + (2 - 1) * 6rem);
}

.row .col-3-of-4 {
  width: calc(3 * ((100% - (4 - 1) * 6rem) / 4) + (3 - 1) * 6rem);
}

.row .col-3-of-5 {
  width: calc(3 * ((100% - (5 - 1) * 6rem) / 5) + (3 - 1) * 6rem);
}

.row .col-4-of-5 {
  width: calc(4 * ((100% - (5 - 1) * 6rem) / 5) + (4 - 1) * 6rem);
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

/*
.row {
    max-width: $grid-width; // different than width
    margin: 0 auto; // trick to center block element inside of another block elements. auto value results in a margin of the same size left and right 
    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }
    @include clearfix;
    @include colwidth;
    [class^="col-"] {
        //attribute selector
        background-color: orange;
     float: left;
     &:not(:last-child) {
         margin-right: $gutter-horizontal;
     }
    }

    .col-1-of-2{
        width: calc((100% - 6rem) / 2);
    }
    
    .col-1-of-3{
        width: calc((100% - 2 *6rem) / 3);
    }
    
    .col-2-of-3{
        width: calc(2 *(100% - 2 *6rem) / 3 + 6rem);
    }

    .col-1-of-4{
        width: calc((100% - 3 * 6rem) / 4);
    }

    .col-2-of-4{
        width: calc(2 *(100% - 3 * 6rem) / 4 +6rem);
    }
    .col-3-of-4{
        width: calc(3 *(100% - 3 * 6rem) / 4 + 2 * 6rem);
    }
}
*/
.section_objetives {
  background-image: url("../img/earthbackground.jpg");
  background-size: cover;
  padding: 30px;
}

.objetives-heading {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(207, 207, 223, 0.863)), to(rgba(196, 233, 31, 0.698)));
  background-image: linear-gradient(to right bottom, rgba(207, 207, 223, 0.863), rgba(196, 233, 31, 0.698));
  -webkit-background-clip: text;
  color: transparent;
}

* {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  background-color: #e7e4e4;
}

.header_top {
  height: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.fecha {
  padding-left: 5rem;
}

.redes_sociales {
  position: absolute;
  margin-left: 75%;
}

.logo_redes {
  padding: 15px;
}

.log_redes:active, .log_redes:visited, .log_redes:hover, .log_redes:link {
  color: black;
}

.idiomas {
  position: absolute;
  margin-left: 90%;
}

.idioma {
  padding: 5px;
}

.bandera_idioma {
  width: 20px;
}

.logo {
  background-color: white;
  margin-left: 0;
  height: 12rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.imgLogo {
  width: 200px;
  padding-left: 10rem;
  float: left;
}

.botones {
  padding: 3.5rem;
  width: 50rem;
  float: right;
  text-align: right;
}

/*
.buscar {
  display: inline-block;
  margin-right: 2rem;
}

.select_idiomas {
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  margin-right: 3rem;
}
*/
.menu {
  background-color: white;
  list-style: none;
  margin-top: -2rem;
  padding-left: 7rem;
}

.menu li a {
  text-decoration: none;
  padding: 20px;
  display: block;
  /*color: white;*/
  color: black;
}

.menu li {
  display: inline-block;
  text-align: center;
}

.contactanos {
  float: right;
  padding-right: 5rem;
}

/*
.noticias_destacadas_NUEVO {
}

.img_noticias {
  width: 100px;
}

.img_noticias_central {
  width: 100px;
}
*/
.img_slider {
  width: 800px;
}

.noticias_destacadas {
  margin-top: 5rem;
  width: 800px;
  overflow: hidden;
  margin: 30px auto;
}

.noticias_destacadas ul {
  list-style: none;
  width: 3200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: sliderNoticias 20s infinite;
          animation: sliderNoticias 20s infinite;
  margin: 0;
  padding: 0;
}

.section-primero {
  margin-top: 9rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
  background-color: #e0e0e08e;
  border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
}

.header-section-primero {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 3rem;
}

.header3-section-primero {
  text-align: center;
  font-size: 1.2rem;
}

.texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.columnas {
  width: 50%;
}

.columnas-texto {
  margin-bottom: 50px;
  margin-left: 3rem;
  margin-right: 3rem;
  text-align: center;
}

.columnas_imagenes {
  margin-left: 11%;
}

.gif_noticias {
  width: 600px;
}

/*
.imgLogo2 {
  width: 500px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 5rem;
  float: left;
}
*/
.header-section-segundo {
  text-align: center;
  font-size: 2.5rem;
  font-family: cursive;
  margin-top: 5rem;
  margin-bottom: 4rem;
}

.logo {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a605, #23d5ab);
  background-size: 150% 150%;
  /* el background-size un poco más grande para que algunos colores se oculten */
  -webkit-animation: cambiarColor 10s ease-in-out infinite;
          animation: cambiarColor 10s ease-in-out infinite;
}

@-webkit-keyframes cambiarColor {
  /* Lo que hace es mover el background de posicion para que los colores que antes no se veían, ahora se vean */
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes cambiarColor {
  /* Lo que hace es mover el background de posicion para que los colores que antes no se veían, ahora se vean */
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

/*FOOTER*/
footer {
  max-width: 100%;
  margin: auto;
  background-color: #8d8d8d;
}

footer #frase-footer {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
  color: var(--fondo);
  font-size: 3rem;
}

.contenedor-footer footer .redes-sociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.contenedor-footer footer .redes-sociales .iconos {
  font-size: 20px;
  margin: 20px;
  background-color: #efefef;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  color: #a2a2a2;
}

footer .redes-sociales .fa-facebook-square:hover {
  background: #41579a;
  color: #fff;
  -webkit-transition: 0.7s ease all;
  transition: 0.7s ease all;
}

footer .redes-sociales .fa-twitter-square:hover {
  background: #0099ff;
  color: #fff;
  -webkit-transition: 0.7s ease all;
  transition: 0.7s ease all;
}

footer .redes-sociales .fa-instagram:hover {
  background: -webkit-gradient(linear, left bottom, right top, from(#fcde30), color-stop(#e9712a), color-stop(#d2313b), color-stop(#ae4198), color-stop(#7540a1), to(#5443a8));
  background: linear-gradient(to top right, #fcde30, #e9712a, #d2313b, #ae4198, #7540a1, #5443a8);
  color: #fff;
  -webkit-transition: 0.7s ease all;
  transition: 0.7s ease all;
}

.contenedor-footer footer hr {
  margin-top: 20px;
  height: 2px;
  color: black;
}

.contenedor-footer h4 {
  text-align: center;
  margin-top: 10px;
  color: black;
  font-weight: 500px;
}

/*FIN FOOTER*/
@-webkit-keyframes sliderNoticias {
  0% {
    opacity: 0;
    margin-left: 0;
  }
  20% {
    opacity: 1;
    margin-left: 0;
  }
  25% {
    margin-left: -800px;
  }
  45% {
    margin-left: -800px;
  }
  50% {
    margin-left: -1600px;
  }
  70% {
    margin-left: -1600px;
  }
  75% {
    margin-left: -2400px;
  }
  100% {
    margin-left: -2400px;
  }
}
@keyframes sliderNoticias {
  0% {
    opacity: 0;
    margin-left: 0;
  }
  20% {
    opacity: 1;
    margin-left: 0;
  }
  25% {
    margin-left: -800px;
  }
  45% {
    margin-left: -800px;
  }
  50% {
    margin-left: -1600px;
  }
  70% {
    margin-left: -1600px;
  }
  75% {
    margin-left: -2400px;
  }
  100% {
    margin-left: -2400px;
  }
}

/* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Lato', sans-serif;
  }
  
  .header {
    background-image: linear-gradient(to bottom, black, lightgray);
  }
  
  .fecha {
    width: auto;
    height: 2.5rem;
    color: white;
  }
  
  .logo {
    height: 5.5rem;
  }
  
  .imgLogo {
    height: 80px;
  }
  
  .menu {
    background-color: rgba(0, 0, 0, 0.568);
    list-style: none;
    padding: 0;
  }
  
  .menu li a {
    text-decoration: none;
    padding: 20px;
    display: block;
    color: white;
  }
  
  .menu li {
    display: inline-block;
    text-align: center;
  }
  
  .contactanos {
    float: right;
  }
  
  .menu li a:hover {
    background-color: gray;
  }
  
  .noticias_destacadas {
    margin-top: -16px;
    width: 100%;
    height: 3rem;
    text-align: center;
  }
  
  .ultimas_noticias {
    position: relative;
    width: 19%;
    height: 3rem;
    float: left;
    background-color: lightgray;
    clip-path: polygon(0 0, 85% 0, 100% 100%, 0 100%);
  }
  
  .noticias_text {
    position: absolute;
    top: 30%;
    left: 20%;
  
  }
  
  .circulo_directo {
    width: 10px;
    float: left;
    padding-top: 19px;
    padding-left: 30px;
  }
  
  .circulo_directo:hover:after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
  
  .ultimas_noticias2 {
    width: 82%;
    height: 3rem;
    float: right;
    overflow: hidden;
  }
  
  .ultimas_noticias2 ul {
    display: flex;
    width: 200%;
    animation: noticias 30s infinite;
  }
  
  .ultimas_noticias2 li {
    width: 30rem;
    list-style: none;
  }
  
  
  
  .circulo_parpadeante {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    top: 30%;
    left: 10%;
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  .secton-primero {
    position: relative;
  }
  
  .header-section-primero {
    text-align: center;
    font-size: 2rem;
    font-family: cursive;
    margin-top: 5rem;
    margin-bottom: 4rem;
  }
  
  .columnas-texto {
    width: 45%;
    text-align: center;
    font-family: cursive;
    margin-bottom: 50px;
  }
  
  .columnas-imagenes {
    position: absolute;
    transform: translateY(-17rem) translateX(60rem);
  }
  
  
  @keyframes parpadeo {
    0% {
      opacity: 1.0;
    }
  
    50% {
      opacity: 0.0;
    }
  
    100% {
      opacity: 1.0;
    }
  }
  
  @keyframes noticias {
    0% {
      margin-left: 0;
    }
  
    100% {
      margin-left: -170%;
    }
  }*/
/*# sourceMappingURL=main.css.map */