.feature-box {
  background-color: $grey;
  font-size: 1.5rem;
  padding-top: 2.5rem;
  text-align: center;
  border-radius: 3px;
  transition: all 0.3s;
  height: 24rem;
  outline-offset: 1rem;
  &__title {
    background-color: $grey-less-opacity;
    
  }

  &:hover {
    transform: translateY(-1.5rem) scale(0.9);
    outline: 0.5rem solid $color-yellow-less-opacity;
  }
  &--1 {
    &:hover {
      background-image: url('../img/multitud.jpg');
    }
  }
  &--2 {
    &:hover {
      background-size: cover;
      background-position: center;
      background-image: url('../img/imparcialidad.jpg');
    }
  }
  &--3 {
    &:hover {
      background-size: cover;
      background-position: center;
      background-image: url('../img/entretenimiento.jpg');
    }
  }
  &--4 {
    &:hover {
      background-size: cover;
      background-position: center;
      background-image: url('../img/banderas.jpg');
    }
  }
  &:not(:hover) {
    transform: scale(0.55);
    outline: 0.2rem solid $grey-less-opacity;
  }
  &__text {
    background-color: $grey-less-opacity;
  }
}
