.row {
    max-width: $grid-width;
    margin: 0 auto;
  
    &:not(:last-child) {
      margin-bottom: $gutter-vertical;
    }
  
    @include clearfix;
    @include colwidth;
  
    [class^="col-"] {
      float: left;
  
      &:not(:last-child) {
        margin-right: $gutter-horizontal;
      }
    }
  }
  

/*
.row {
    max-width: $grid-width; // different than width
    margin: 0 auto; // trick to center block element inside of another block elements. auto value results in a margin of the same size left and right 
    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }
    @include clearfix;
    @include colwidth;
    [class^="col-"] {
        //attribute selector
        background-color: orange;
     float: left;
     &:not(:last-child) {
         margin-right: $gutter-horizontal;
     }
    }

    .col-1-of-2{
        width: calc((100% - #{$gutter-horizontal}) / 2);
    }
    
    .col-1-of-3{
        width: calc((100% - 2 *#{$gutter-horizontal}) / 3);
    }
    
    .col-2-of-3{
        width: calc(2 *(100% - 2 *#{$gutter-horizontal}) / 3 + #{$gutter-horizontal});
    }

    .col-1-of-4{
        width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
    }

    .col-2-of-4{
        width: calc(2 *(100% - 3 * #{$gutter-horizontal}) / 4 +#{$gutter-horizontal});
    }
    .col-3-of-4{
        width: calc(3 *(100% - 3 * #{$gutter-horizontal}) / 4 + 2 * #{$gutter-horizontal});
    }
}
*/

