body {
  background-image: url('../../img/Contactanos/fondo_formulario.jpg');
  background-size: cover;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.contenedor {
  margin-left: 10%;
  margin-top: 5%;
  width: 45%;
  color: white;
  font-size: 20px;
}

.contenedor_titulo {
  margin-bottom: 3rem;
  text-shadow: 0.2em 0.1em 0.2em black;
}

.contenedor_formulario {
  margin-top: 15%;
  margin-bottom: 15%;
}

.formulario_nombre,
.formulario_email,
.formulario_mensaje {
  padding: 1.5rem 0;
}

.formulario_label {
  position: absolute;
}

.formulario_label-mensaje {
  position: absolute;
  transform: translateY(2rem);
}

.formulario_texto-nombre,
.formulario_texto-email,
.formulario_texto-mensaje {
  margin-left: 10rem;
}

.formulario_texto-nombre,
.formulario_texto-apellido,
.formulario_texto-email,
.formulario_texto-mensaje {
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.767);
  height: 1.5rem;
  box-shadow: 0 0 15px black;
  /*outline: none;*/
}

.formulario_texto-nombre,
.formulario_texto-apellido {
  width: 28%;
}

.formulario_texto-apellido {
  margin-left: 1.5rem;
}

.formulario_texto-email {
  width: 60%;
}

.formulario_texto-mensaje {
  width: 60%;
  height: 5rem;
}

.contenedor_boton {
}

.boton_enviar {
  padding: 1rem;
  margin: 2rem;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 7px;
  transition: all 0.7s;
  cursor: pointer;
}

.boton_enviar:hover {
  transform: translateY(-7px);
}
