.section_segundo {
  background-image: url('../img/earthbackground.jpg');
  background-image: linear-gradient(to bottom, $color-black,$color-dark-grey),
  url(../img/earthbackground.jpg);
  background-blend-mode: soft-light;
  background-size: cover;
  padding: 30px;
  height: 100vh;
}
